$navigation-bg: $power-royal;
$navigation-height: 60px;
$navigation-crumbs-height: 30px;
$full-nav-height: $navigation-height + $navigation-crumbs-height;
$navigation-zindex: 1000;

@import "topbar";
@import "search";
@import "profile";
@import "recent-crumbs";
@import "environment-label";
@import "notifications";
@import "spinner";

.nitro-navigation {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  width: 100%;
  z-index: $navigation-zindex;
}

#main-crumbs.navbar-default {
  top: 0;
}
