.nitro-navigation {
  #main-crumbs {
    background: $power-navy;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: $navigation-crumbs-height;
    min-height: $navigation-crumbs-height;
    margin: 0;
    overflow: hidden;

    ol {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;

      li {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
          min-width: 60px;
          text-align: center;
          padding: 0 $space-base;
          margin: 0;
          background: $power-navy !important;
          border-width: 0 1px 0 0;
          border-style: solid;
          border-color: rgba($white, $opacity-1);
          color: rgba($white, $opacity-8);
          font-size: $font-smaller + 1;
          cursor: pointer;
          white-space: nowrap;
          transition: color 0.3s ease;

          &:hover {
            color: rgba($white, 1);
            background: $power-navy !important;
          }
        }

        &:last-child {
          a {
            border-right-width: 0;
          }
        }
      }
    }
  }
}
