.page-container {
  #spinner {
    position: absolute;
    top: $space-large;
    right: $space-large;
    left: auto;
    bottom: auto;
    z-index: $navigation-zindex + 2;

    .badge {
      display: inline-block;
      background: rgba($sky-lighter, $opacity-7);

      svg {
        path {
          fill: $power-navy;
        }
      }
    }
  }
}
